<div class="page-header">
  <h1>
    <%= @table_title %>
  </h1>
  <% if @loc != nil %>
    <a href="/items/new/<%= @loc %>_item" class="btn btn-md btn-primary"><%= @new_title %></a>
  <% else %>
    <a href="/items/new" class="btn btn-md btn-primary"><%= @new_title %></a>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Expiration date</th>
        <!-- <th>Location</th> -->
        <!-- <th>Image url</th> -->
        <!-- <th>User</th> -->
        <th>Actions</th>
      </tr>

      <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.expiration_date %></td>
        <!-- <td><%= item.location %></td> -->
        <!-- <td><%= item.image_url %></td> -->
        <!-- <td>
          <% if item.user.present? %>
            <a href="/users/<%= item.user.id %>">
              <%= item.user.email %>
            </a>
          <% end %>
        </td> -->
        <td>
          <!-- <a href="/items/<%= item.id %>" class="btn btn-primary">Show</a> -->

          <% if current_user == item.user %>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
